<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ansible</title>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="https://blogs.missouristate.edu/cio/files/2016/06/ansible-logo.png">
    <style>

    </style>
</head>
<body>



 <div class="container ">
      <div class="row center-align">
    <div class="col s12 m6" style="margin-left: 25%; margin-top: 18%;">
      <div class="card blue-grey darken-1" >
        <div class="card-content white-text">
            <span class="card-title"><h3>Iniciar Sesion</h3></span>
          <div class="row">
        <form class="col s12" method="post" action="http://127.0.0.1:8090/login">

          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" style="padding-left: 10%; padding-right: 10%;">
              <label for="email">Email</label>
            </div>
          </div>

          <div class="card-action">
            <div class="col s12 center-align">

                <button id="email_inline" type="submit" class="btn white-text blue-grey darken-1 ">sign in</button>


              </div>
          </div>
        </form>
        </div>

        </div>

      </div>
    </div>
  </div>
 </div>


</body>
</html>